html, body, svg, div {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url("background-waves-c.png");
}

.background {
     fill: none;
     pointer-events: all;
}

#title {
    font-size: 48px;
}

.legend {        
    fill: none;
}

.active {
    fill: orange;
    /*border-width: 20px;*/
}

.legends circle {
	opacity: 0.4;
}

.text {
    line-height: 2.4em;
}